@{
    ViewBag.Title = "Index";
}

<div class="page-header">
  <h1>Dashboard<small> 1 order(s) pending, 2 stock(s) low</small></h1>
</div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span8">
      <h3>Pending Orders</h3>
      <ul class="unstyled">
        <li>BHP(Boddington) (<a href="#">SmartEar#21908743</a>) <strong>25/1/2013</strong></li>
      </ul>
    </div>

    <div class="span4">
      <h3>Low Stock</h3>
      <ul class="unstyled">
        <li>OpticalFiber <span class="badge badge-important">-2</span></li>
        <li>OpticalTransmitter <span class="badge badge-warning">1</span></li>
      </ul>
    </div>

  </div>
  <div class="row">
    <div class="span4">
      <h2>Latest Sales</h2>
      <ul class="unstyled">
        <li>1x SmartEar to BHP <span class="badge badge-success">Paid & Shipped</span></li>
        <li>1x SmartEar to Rio <span class="badge badge-info">Paid</span></li>
        <li>2x SmartTag to etc..</li>
      </ul>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Latest Movements</h2>
      <ul class="unstyled">
        <li><span class="badge badge-success">+1</span> <a href="#">OpticalCable2M</a> <p class="muted">today - <a href="#">Reorder</a></p></li>
        <li><span class="badge badge-warning">-1</span> <a href="#">OpticalTransmitter</a> <p class="muted">2 week ago - <a href="#">Relocated</a></p></li>
        <li><span class="badge badge-important">-5</span> <a href="#">TIRIS RFID Reader</a> <p class="muted">1 month ago - <a href="#">Order</a></p></li>
      </ul>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Active Users</h2>
       <ul class="unstyled">
         <li><span class="badge badge-success">David</span></li>
         <li><span class="badge badge-warning">Michael <small>Idle</small></span></li>
       </ul>
    </div>
  </div>

