@{
  ViewBag.Title = "Login";
}

@section styles {

  body {
  background-color: #eeeeee;
  }
  .form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 10px auto 20px;
  }

}
<form role="form" action="/Login" method="post" class="form-signin">
  <input type="hidden" name="return_to" value="@ViewBag.return_to" />
  <div class="control-group">
    <h3>Please sign in</h3>
    <div class="controls">
      <input class="input-block-level" type="text" name="email" placeholder="Email">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input class="input-block-level" type="password" name="password" placeholder="Password">
    </div>
  </div>
  <div class="control-group">
    <label class="checkbox">
    <input type="checkbox" name="remember" /> Remember me
  </label>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary btn-large btn-block">Sign in</button>
    </div>
  </div>
</form>
